__pycache__/
*.egg-info/
*.spec
*.log
*.pot
*.mo
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.tox
.venv
.env
.env.local
.env.development.local
.env.production.local
.env.test.local
.pytest_cache
nox.json
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
*.py[co]
*.pyc
.DS_Store
Thumbs.db
docs/_build
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
dist
build
*.egg-info
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.venv
.env
.env.local
.env.development.local
.env.production.local
.env.test.local
.pytest_cache
